.illustrations-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.searchBar {
    width: 100%;
    margin: 12px 0;
    padding: 12px 0;
    box-sizing: border-box;
    background-color: #eee;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchInput {
    width: 70%;
    border: none;
    background-color: #eee;
    cursor: pointer;
    font-size: 20px;
}

.searchInput:focus {
    outline: none;
}

.searchIcon {
    font-size: 24px;
    cursor: pointer;
    color: #757598;
}

.ant-tabs-nav-wrap {
    display: flex;
    width: 100%;
}

.ant-tabs-nav-list {
    display: flex;
    width: 100%;
}

.ant-tabs-tab {
    flex: 1;
    justify-content: center;
}