.profile {
    padding: 20px;
}

.profileWrapper {
    display: flex;
    flex-direction: column;
}

.profileTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profileName {
    margin-top: 10px;
    font-size: 20px;
    color: #757575;
    ;
}

.profileBottom {
    margin-top: 20px;
}

.progress {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.progressWrapper {
    width: 45%;
    height: 80px;
    background-color: #FAFAFA;
    padding: 5px;
    box-shadow: 5px 5px 10px #dad9d9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 10px;
}

.progressName {
    flex: 1;
}

.progressItem {
    flex: 1;
}